# Required: Your Google Gemini API key
GEMINI_API_KEY=AQ.Ab8RN6KmsCb-pc820hq51vwbJwnRTYBkxAuHrbEsJi3MOtDxHAcls

# MySQL Configuration
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=recrulink
MYSQL_USER=recrulink
MYSQL_PASSWORD=rootpassword