# Environment variables (Block all .env files)
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
*.pyc

# AI Model cache & Local Data
faiss_index/*
!faiss_index/.gitkeep
data/*
!data/.gitkeep

# Node / Angular
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/