fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
PyMuPDF==1.24.10
python-docx==1.1.2
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
pymysql==1.1.1
sqlalchemy==2.0.35
langchain-text-splitters==0.3.0
google-generativeai==0.8.3
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
cryptography==43.0.1
numpy==1.26.4